<!DOCTYPE html>
<head>
    <title>Vue Basic</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Vue Basic</h2>
    <div id='app'>
        <h2>{{ title }}</h2>
        <p>{{ greet('morning') }}</p>
        <a v-bind:href="url">Tekson</a> <!--we can use v-bind: or just : to dynamically add the contents-->
        <p :class="classes">This is the text styled by vue</p>
        <input type="text" :value="name">
        <hr>
        <p>You earn {{ wage }} per hr. </p>
        <button v-on:click="increase(1)">Increase by $1</button>
        <button @dblClick="increase(5)">Increase by $5</button>
        <div class="canvas" @mousemove="getCoords"> {{ coordinate.x }}, {{ coordinate.y }} </div>
        <input type="text" @keyup='updateName'>
        <input type="text" @keypress="updateName">
        <input type="text" v-model='name'>
        <button @click.alt="something">alt-click me</button>
        <hr>
        <h5 v-if="showname">This is the toggle data</h5>
        <h5 v-else-if="showage">This is toggle elif condition</h5>
        <button @click="toggleName">toggle case: {{showname}} </button>
        <button @click="toggleAge">toggle case: {{showage}} </button>
        <hr>
        <hr>
        
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>

        <div v-for="(object, index) in objectItems">
            <span>{{index}} {{ object.name}} </span>
            <span>{{object.age}} </span>
            <span>{{object.clz}} </span>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>